@font-face {
    font-family: 'chalkboard_seregular';
    src: url('../fonts/2157/2157-font-webfont.woff2') format('woff2'),
    url('../fonts/2157/2157-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
